p {
  font-size: 15px;
}

div {
  width: 100px;
  height: 100px;
  background: url(../images/svna.jpg) no-repeat center;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid red;
}

.string {
  position: absolute;
  background: "../images/img.jpg";
}

.number {
  font-size: calc(20px + 3rem);
}

.mt1 {
  margin-top: 1px;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.font-sm {
  font-size: 10px;
  line-height: 20px;
}

.font-base {
  font-size: 15px;
  line-height: 30px;
}

.font-sm {
  line-height: 20px;
  font-size: 10px;
}

.font-base {
  line-height: 30px;
  font-size: 15px;
}

div {
  font-size: 20px;
}

.gallery {
  color: red;
}
.gallery__list {
  color: blue;
}
.gallery__image {
  color: orange;
}

.mixin {
  background: url(../images/img.png) no-repeat 10px 20px;
}

.icon {
  background: url(../images/icon.svg) no-repeat center right;
}

.box {
  border: 2px solid blue;
}
.box:hover {
  border-color: transparent;
}
.box::after {
  content: "";
}

.box2 {
  border: 2px solid pink;
}
.box2:hover {
  border-color: transparent;
}
.box2::after {
  content: "";
}

.block, .box {
  color: red;
  font-size: 20px;
}

.active, .box {
  width: 390px;
  height: 40px;
}

.box {
  border: 1px solid blue;
}

.block {
  background: orange;
}

.box {
  left: 1px;
}

.box {
  left: 2px;
}

.box {
  left: 3px;
}

.box {
  left: 4px;
}

.box {
  left: 5px;
}

.icon-list {
  list-style: none;
  display: flex;
  gap: 10px;
}
.icon-list li {
  width: 150px;
  height: 250px;
  border: 1px solid silver;
}

.icon1 {
  background: url(../images/icon1.svg) no-repeat;
}
.icon1:hover {
  background: url(../images/icon1_on.svg) no-repeat;
}

.icon2 {
  background: url(../images/icon2.svg) no-repeat;
}
.icon2:hover {
  background: url(../images/icon2_on.svg) no-repeat;
}

.icon3 {
  background: url(../images/icon3.svg) no-repeat;
}
.icon3:hover {
  background: url(../images/icon3_on.svg) no-repeat;
}

.icon4 {
  background: url(../images/icon4.svg) no-repeat;
}
.icon4:hover {
  background: url(../images/icon4_on.svg) no-repeat;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-orange {
  color: orange;
}

.text-pink {
  color: #fc817c;
}

.text-purple {
  color: #b174ee;
}

.btn-write, .btn-emoji {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.btn-emoji {
  background: url(../images/btn_emoji.svg) no-repeat;
}

.btn-write {
  background: url(../images/btn_write.svg) no-repeat;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  border: 2px solid red;
  background-color: #fff;
}

.btn-theme {
  width: 120px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid #999;
  background: #fff;
  color: gray;
}
.dark .btn-theme {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

.avatar.circle {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 100%;
}
.avatar.square {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #000;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

/*# sourceMappingURL=index.css.map */
