// $이름:값; -변수설정

$fs12: 12px;
$fs20: $fs12;
$imgurl: "../images/";

// const a = "text";
// const b = 문자 사이에 다른 변수를 넣을때

// div {
//   $color: red;

//   padding: $fs20;
//   font-size: $fs12;
//   color: red;
// }

p {
  $fs12: 15px;
  font-size: $fs12;
}

div {
  width: 100px;
  height: 100px;
  background: url(#{$imgurl}svna.jpg) no-repeat center;
}
$class: ".box";
$w: "width";
#{$class} {
  #{$w}: 100px;
  height: 100px;
  border: 2px solid red;
}
